#node_modules/
#config.json
npm-debug.log
#ops.json
Battler5.02.plsc
#plugins/gabenizer/secret.py
plugins/gabenizer/numpy-1.10.4+mkl-cp27-cp27m-win32.whl
plugins/gabenizer/numpy-1.10.4+mkl-cp27-cp27m-win_amd64.whl
plugins/gabenizer/dist/gabenizer-1.0-py2.7.egg
node_modules/

config.json
ops.json
plugins/gabenizer/secret.py
app.js
bot-package.json
config-my-base.json
start.js
/static/
/utils/
xdata.json
-package.json
.openshift/markers/NODEJS_VERSION